<div class="container-fluid">
    <div class="row header__row">
        <div class="col-md-11">
            <h1>Welcome User</h1>

        </div>
        <div class="col-1">
            <button >New Project</button>
        </div>
    </div>
    <div class="row main__row mt-3">
        <h3>List of Projects</h3>
        <div class="col-md-4 projectCard__container" *ngFor="let item of ListOfProjects">
            <app-project-card ></app-project-card>

        </div>
        <h3>Recent Changes</h3>
        <p>Prathamesh Ashra made changes on Project Pentaknot at 21 Feb 2021 10:45 AM </p>
        <p>Shlok Chavan made changes on Project Pentaknot at 20 Feb 2021 10:45 AM </p>
        <p>Shlok Chavan made changes on Project SVA at 20 Feb 2021 10:45 AM </p>
    </div>
</div>