.container-fluid{
    .header__row{
        h1{
            color:white;
        }
    }
    .main__row{
        p{
            color: white;
        }
        h3{
            color:white;
        }
    }
} 