<div class="container-fluid">
    <div class="header__row">
        <div class="col-md-12">
            <h1>Create your new project</h1>
        </div>
        
    </div>
    <div class="main__row">
        <mat-form-field class="example-full-width mt-3" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Email" />
          </mat-form-field>
        
        <mat-form-field class="example-full-width mt-3" appearance="fill">
            <mat-label>Github Link</mat-label>
            <input matInput placeholder="Email" />
          </mat-form-field>
        <mat-form-field class="example-full-width mt-3" appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Email" />
          </mat-form-field>
        <mat-form-field class="example-full-width mt-3" appearance="fill">
            <mat-label>Tag</mat-label>
            <input matInput placeholder="Email" />
          </mat-form-field>
        <mat-form-field class="example-full-width mt-3" appearance="fill">
            <mat-label>Teams</mat-label>
            <input matInput placeholder="Email" />
          </mat-form-field>
        <mat-form-field class="example-full-width mt-3" appearance="outline">
            <mat-label>Customize URL</mat-label>
            <input matInput placeholder="Email" />
          </mat-form-field>
        <mat-form-field class="example-full-width mt-3" appearance="outline">
            <mat-label>Framework</mat-label>
            <input matInput placeholder="Email" />
          </mat-form-field>
          
</div>
</div>